# AOS_EFD MTAOS topics

* **last verified to run**: 2025-03-07
* **lsst_distrib**: w2025_10

Show EFD topics related to AOS. All the measurements are stored in the  bucket: "efd/autogen". An example AOS dashboard is https://usdf-rsp.slac.stanford.edu/chronograf/sources/1/dashboards/132?refresh=Paused&lower=2024-12-09T01%3A00%3A00.000Z&upper=2024-12-09T04%3A00%3A00.000Z

In [2]:
from lsst.summit.utils.efdUtils import getEfdData, makeEfdClient
from lsst.daf import butler as dafButler
butler = dafButler.Butler('/repo/embargo_new', 
                          collections=["LSSTComCam/raw/all", 
                                       "LSSTComCam/calib", 
                                       "LSSTComCam/nightlyValidation"
                                                           ]
                         )
client = makeEfdClient()

INFO:botocore.credentials:Found credentials in shared credentials file: /home/s/scichris/.lsst/aws-credentials.ini
INFO:botocore.httpchecksum:Skipping checksum validation. Response did not contain one of the following algorithms: ['crc32', 'sha1', 'sha256'].

In [3]:
topics = await client.get_topics()
len(topics)

2946

Check topics starting with `lsst.sal` :

In [4]:
# from https://rubin-obs.slack.com/files/U07D8TLA3C3/F07QJPNTUE7/searching_the_efd
tt = [t.split('.') for t in topics]
topic_dict = {}
for t in tt:
    i = 0
    dd = topic_dict
    while i < len(t):
        if t[i] not in dd.keys():
            dd[t[i]] = {}
        dd = dd[t[i]]
        i += 1

# useful topics are 'lsst.sal.X' 
print(list(topic_dict['lsst']['sal'].keys()))

['ATAOS', 'ATArchiver', 'ATBuilding', 'ATCamera', 'ATDome', 'ATDomeTrajectory', 'ATHeaderService', 'ATHexapod', 'ATMCS', 'ATMonochromator', 'ATOODS', 'ATPneumatics', 'ATPtg', 'ATSpectrograph', 'ATWhiteLight', 'AdamSensors', 'CBP', 'CCArchiver', 'CCCamera', 'CCHeaderService', 'CCOODS', 'DIMM', 'DREAM', 'DSM', 'Dome', 'EAS', 'EPM', 'ESS', 'Electrometer', 'Environment', 'FiberSpectrograph', 'GCHeaderService', 'GIS', 'GenericCamera', 'HVAC', 'Hexapod', 'LEDProjector', 'LaserTracker', 'LinearStage', 'MTAOS', 'MTAirCompressor', 'MTCamera', 'MTDome', 'MTDomeTrajectory', 'MTHeaderService', 'MTHexapod', 'MTM1M3', 'MTM1M3TS', 'MTM2', 'MTMount', 'MTOODS', 'MTPtg', 'MTRotator', 'MTVMS', 'NewMTMount', 'OCPS', 'PMD', 'Rotator', 'Scheduler', 'Script', 'ScriptQueue', 'Test', 'TunableLaser', 'Watcher', 'WeatherForecast', 'WeatherStation']

Pick `lsst.sal.MTAOS`:

In [ ]:
# Pick a CSC and see more about its topics
ss = 'MTAOS'
for tt in topic_dict['lsst']['sal'][ss].keys():
    topic = f'lsst.sal.{ss}.{tt}'
    print(topic)
    try:
        fields = await client.get_fields(topic)
    except: 
        fields  = ['value']
    fields = [f for f in fields if ('private' not in f) and (f != 'name') and (f != 'duration')]
    try:
        dd = await client.select_top_n(topic, fields, 1)
    except: 
        print('query failed')
    display(dd)

lsst.sal.MTAOS.ackcmd

,ack,cmdtype,error,host,identity,origin,result,timeout
2025-03-05 00:06:53.873578+00:00,303,4,0,None,Script:100000,57838,Done,0

lsst.sal.MTAOS.command_addAberration

,config,wf0,wf1,wf10,wf11,wf12,wf13,wf14,wf15,wf16,wf17,wf18,wf2,wf3,wf4,wf5,wf6,wf7,wf8,wf9
2022-10-19 04:27:02.444948+00:00,,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0

lsst.sal.MTAOS.command_disable
query failed

,config,wf0,wf1,wf10,wf11,wf12,wf13,wf14,wf15,wf16,wf17,wf18,wf2,wf3,wf4,wf5,wf6,wf7,wf8,wf9
2022-10-19 04:27:02.444948+00:00,,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0

lsst.sal.MTAOS.command_enable
query failed

,config,wf0,wf1,wf10,wf11,wf12,wf13,wf14,wf15,wf16,wf17,wf18,wf2,wf3,wf4,wf5,wf6,wf7,wf8,wf9
2022-10-19 04:27:02.444948+00:00,,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0

lsst.sal.MTAOS.command_exitControl

                                  value
2021-04-27 21:22:06.518000+00:00  False

lsst.sal.MTAOS.command_issueCorrection
query failed

                                  value
2021-04-27 21:22:06.518000+00:00  False

lsst.sal.MTAOS.command_offsetDOF

,value0,value1,value10,value11,value12,value13,value14,value15,value16,value17,...,value45,value46,value47,value48,value49,value5,value6,value7,value8,value9
2024-12-12 07:54:30.659023+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-1500,0,0,0,0

lsst.sal.MTAOS.command_rejectCorrection
query failed

,value0,value1,value10,value11,value12,value13,value14,value15,value16,value17,...,value45,value46,value47,value48,value49,value5,value6,value7,value8,value9
2024-12-12 07:54:30.659023+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-1500,0,0,0,0

lsst.sal.MTAOS.command_resetCorrection
query failed

,value0,value1,value10,value11,value12,value13,value14,value15,value16,value17,...,value45,value46,value47,value48,value49,value5,value6,value7,value8,value9
2024-12-12 07:54:30.659023+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-1500,0,0,0,0

lsst.sal.MTAOS.command_resetOffsetDOF
query failed

,value0,value1,value10,value11,value12,value13,value14,value15,value16,value17,...,value45,value46,value47,value48,value49,value5,value6,value7,value8,value9
2024-12-12 07:54:30.659023+00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-1500,0,0,0,0

lsst.sal.MTAOS.command_runOFC

,config,userGain
2024-12-12 07:55:46.762537+00:00,comp_dof_idx:\n M1M3Bend:\n - 1.0\n - 1.0\n...,0.5

lsst.sal.MTAOS.command_runWEP

                                 config        extraId  useOCPS        visitId
2024-12-12 07:54:40.032949+00:00   {}\n  2024121100565     True  2024121100564

lsst.sal.MTAOS.command_setLogLevel

                                  level subsystem
2024-11-26 07:48:55.487849+00:00     20

lsst.sal.MTAOS.command_standby
query failed

                                  level subsystem
2024-11-26 07:48:55.487849+00:00     20

lsst.sal.MTAOS.command_start

                                 configurationOverride settingsToApply
2024-12-11 21:07:20.049280+00:00                                  None

lsst.sal.MTAOS.logevent_appliedSettingsMatchStart

                                  appliedSettingsMatchStartIsTrue  priority
2022-04-12 18:50:13.389000+00:00                             True         0

lsst.sal.MTAOS.logevent_authList

                                 authorizedUsers nonAuthorizedCSCs priority
2024-05-30 21:59:15.552063+00:00                                       None

lsst.sal.MTAOS.logevent_cameraHexapodCorrection